BODY {color: white; background: #4d0000; font-family: Century Gothic;}
H2 {color: #ffcc00; font-family: Century Gothic; text-decoration: underline;}
img {width: 40%; height: auto;}
.caption {font-style: italic;}
